header {
	background-color: blue;
	color:rgba(255,255,255,0.5);
}

.container {
	background-color: blue;
	color: #0000A0;
}

#rebar {
	color:salmon;
	border: 1px solid #000;
	margin-top: 1000px;
}

.square{
	width: 50px;
	height: 50px;
	background-color: salmon;
	margin: 5px;
	border: 2px solid blue;
	padding: 20px;
	float: right;
}